
    <h1>Thank you for your purchase, <%= @order.email %>!</h1>
    <p>
      Your Order ID is: <%= @order.id %>.<br>
    </p>
     <table>
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <% @order.line_items.each do |item| %>
          <%= render 'item', product: Product.find(item[:product_id]), quantity: item[:quantity].to_i %>
        <% end %>
     
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
    <p>Have a great day!</p>
