// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.logo {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
  height: 40px;
}